.fullWidth {
    clear: both;
}

.fullWidth > div {
    display: flex;
}

.third {
    max-height: 40vh;
    overflow: auto;
    min-width: 32%;
    max-width: 36%;
}

.third td, .third th {
    min-width: 10ch;
    text-overflow: elipsis;
}
